__pycache__
build/mygame/Analysis-00.toc
build/mygame/base_library.zip
build/mygame/EXE-00.toc
build/mygame/mygame.exe.manifest
build/mygame/mygame.pkg
build/mygame/PKG-00.toc
build/mygame/PYZ-00.pyz
build/mygame/PYZ-00.toc
build/mygame/Tree-00.toc
build/mygame/Tree-01.toc
build/mygame/Tree-02.toc
build/mygame/warn-mygame.txt
build/mygame/xref-mygame.html
dist/mygame.exe
